In [22]:
# Testing out Tiingo API

from symtable import Symbol
import pandas_datareader as dr
import pandas as pd

from IPython.display import display

key = '5a564ae74ff39197bc13a0c15602c940af3382f5'

google_df = dr.get_data_tiingo('AMD', api_key=key)
display(google_df)

c:\Users\JMaldonado\Miniconda3\envs\codecademy\lib\site-packages\pandas_datareader\tiingo.py:234: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  return pd.concat(dfs, self._concat_axis)

                                  close  high    low    open    volume    adjClose  adjHigh  adjLow  adjOpen  adjVolume  divCash  splitFactor
symbol date
AMD    2017-07-24 00:00:00+00:00  14.16  14.44  13.97  14.000   70306709    14.16    14.44    13.97  14.000    70306709    0.0        1.0
       2017-07-25 00:00:00+00:00  14.11  14.32  13.87  14.290   76089789    14.11    14.32    13.87  14.290    76089789    0.0        1.0
       2017-07-26 00:00:00+00:00  14.76  15.65  14.40  15.130  234655935    14.76    15.65    14.40  15.130   234655935    0.0        1.0
       2017-07-27 00:00:00+00:00  14.12  15.04  13.70  14.990  129095996    14.12    15.04    13.70  14.990   129095996    0.0        1.0
       2017-07-28 00:00:00+00:00  13.95  14.10  13.68  13.845   66352470    13.95    14.10    13.68  13.845    66352470    0.0        1.0
...                                 ...    ...    ...     ...        ...       ...      ...     ...      ...        ...      ...          ...
       2022-07-15 00:00:00+00:00  81.11  81.20  77.90  79.360   76050597    81.11    81.20    77.90  79.360    76050597    0.0        1.0
       2022-07-18 00:00:00+00:00  81.43  84.47  80.94  82.210   90464334    81.43    84.47    80.94  82.210    90464334    0.0        1.0
       2022-07-19 00:00:00+00:00  85.88  86.41  82.19  82.760   85047506    85.88    86.41    82.19  82.760    85047506    0.0        1.0
       2022-07-20 00:00:00+00:00  89.43  89.92  85.08  85.390   88348558    89.43    89.92    85.08  85.390    88348558    0.0        1.0
       2022-07-21 00:00:00+00:00  91.09  91.58  88.22  89.600   90449338    91.09    91.58    88.22  89.600    90449338    0.0        1.0

[1258 rows x 12 columns]

In [20]:
google_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1258 entries, ('GOOG', Timestamp('2017-07-24 00:00:00+0000', tz='UTC')) to ('GOOG', Timestamp('2022-07-21 00:00:00+0000', tz='UTC'))
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   close        1258 non-null   float64
 1   high         1258 non-null   float64
 2   low          1258 non-null   float64
 3   open         1258 non-null   float64
 4   volume       1258 non-null   int64
 5   adjClose     1258 non-null   float64
 6   adjHigh      1258 non-null   float64
 7   adjLow       1258 non-null   float64
 8   adjOpen      1258 non-null   float64
 9   adjVolume    1258 non-null   int64
 10  divCash      1258 non-null   float64
 11  splitFactor  1258 non-null   float64
dtypes: float64(10), int64(2)
memory usage: 164.0+ KB